.container {
    margin: 50px 0;
}
.card {
    margin: 0 60px !important;
    border-bottom: 7px solid rgb(119, 117, 117);
    border-left: 3px solid rgb(73, 72, 71);
    border-right: 3px solid rgb(73, 72, 71);
}
.date {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}
.statusstyle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.goals {
    display: flex;
    align-items: center;
    justify-content: center;
}
.team1 {
    padding-right: 10%;
}
.team2 {
    padding-left: 10%;
}
.refereestyle {
    display: flex;
    align-items: center;
    justify-content: center;
}
